* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Navbar */

nav {
    /* border: 1px solid red; */
    /* box-shadow: 0px 15px 10px -15px #111;  */
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 90px;
    width: 100vw;
}

.nav-img {
    height: 40px;
    width: 125px;
    margin: 25px;
    max-width: 400px;
}

/* Hero */

.hero-grid {
    height: 300px;
    margin: 20px 60px;
}

h1 {
    margin: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: Poppins;
}

p {
    margin: 30px;
    font-size: 25px;
    font-family: Poppins;
    width: 500px;
}

/* Card */

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}